#container{
	background:#e3f2fd;
	width:61%;
	min-height:100px;
	border:1px solid grey;
	border-radius:5px;
	margin-left:auto;
	margin-right:auto;
}
#mainCanvas{
	width:60%;
	height 70%;
	border:1px solid grey;
	margin:10px;
}
